<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Snack</title>
</head>
<body>
    <h2>Create Snack</h2>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Snack</button>
    </form>
    <hr>
    <a href="{% url 'snack_list' %}" style="color: dodgerblue; text-decoration: none; font-size: 16px;">Back to Snacks List</a>
</body>
</html>
